/*=========================================
            الإعدادات العامة
=========================================*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    direction:rtl;
    font-family:"Tahoma",sans-serif;

    background-image:url("images/marble.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;

    min-height:100vh;
    overflow-x:hidden;

}

.mobile-container{

    width:100%;
    max-width:430px;
    min-height:100vh;

    margin:auto;
    position:relative;

    overflow-x:hidden;

}


/*=========================================
                صفحة الظرف
=========================================*/

.envelope-section{

    position:fixed;

    top:0;
    left:50%;
    transform:translateX(-50%);

    width:100%;
    max-width:430px;
    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background-image:url("images/marble.jpg");
    background-size:cover;
    background-position:center;

    overflow:hidden;

    z-index:9999;

}

.envelope-container{

    position:relative;

    width:100%;

    display:flex;

    justify-content:center;

    align-items:center;

}






.envelope-image{

    width:100%;

    height:100%;

    object-fit:cover;

    display:block;

}






.seal-img{

    position:absolute;

    width:350px;

    left:50%;

    top:54%;

    transform:translate(-50%,-50%);

    cursor:pointer;

    transition:.35s;

    z-index:10;

}

.seal-img:hover{

    transform:translate(-50%,-50%) scale(1.08);

}


/*=========================================
                الحركات
=========================================*/

.seal-hide{

    opacity:0;

    transform:translate(-50%,-50%) scale(0);

    transition:.6s ease;

}



@keyframes fadeIn{

    from{

        opacity:0;
        transform:translateY(30px);

    }

    to{

        opacity:1;
        transform:translateY(0);

    }

}



/*=========================================
                صفحة الدعوة
=========================================*/

.hero{

    display:none;

    width:100%;
    min-height:100vh;

    
    justify-content:center;
    align-items:center;

    position:relative;

    animation:fadeIn 1s ease;

}

.hero-content{

    width:90%;
    max-width:850px;

    padding:60px 25px;

    text-align:center;

    background: transparent;

}


/* البسملة */

.bismillah{

    color:#7b2034;

    font-size:28px;

    margin-bottom:20px;

}


/* الآية */

.ayah{

    color:#666;

    font-size:19px;

    line-height:2.2;

    margin-bottom:15px;

}


/* السورة */

.surah{

    color:#a38b64;

    margin-bottom:45px;

}


/* العنوان */

.title{

    color:#7b2034;

    font-size:48px;

    margin-bottom:25px;

}


/* النص */

.invite-text{

    color:#555;

    font-size:22px;

    line-height:1.8;

    margin-bottom:40px;

}


/* أسماء العروسين */

.details-header{

    text-align:center;

    margin-top:40px;

}

.details-header h1{

    color:#7b2034;

    font-size:42px;

}

.details-header span{

    color:#b99249;

    margin:0 12px;

}

.details-header p{

    color:#666;

    font-size:18px;

    margin-top:20px;

}


/* الزهور */

.flower-top-left{

    position:absolute;

    top:0;

    left:-50px;

    width:300px;

    pointer-events:none;

    transition:opacity .8s;

}

.flower-bottom-right{

    position:absolute;

    right:-170px;

    bottom:120px;

    width:400px;

    pointer-events:none;

    transition:opacity .8s;

}




/*=========================================
            تفاصيل الحفل
=========================================*/

.event-info{

    width:90%;
    margin:60px auto;

    text-align:center;

}

.event-info h2{

    color:#7b2034;

    font-size:30px;

    margin-bottom:25px;

}

.info-box{

    background:#fafafa;

    border-radius:20px;

    padding:25px;

    box-shadow:0 5px 20px rgba(0,0,0,.10);

}

.info-box p{

    color:#555;

    font-size:20px;

    margin:18px 0;

    line-height:1.8;

}


/*=========================================
            العد التنازلي
=========================================*/

.countdown-section{

    margin-top:60px;

    text-align:center;

}

.countdown-section h2{

    color:#7b2034;

    font-size:30px;

    margin-bottom:25px;

}

.countdown{

    display:flex;

    justify-content:center;

    gap:10px;

    direction:ltr;

    flex-wrap:wrap;

}

.time-box{

    width:75px;
    height:85px;

    background:#7b2034;

    color:white;

    border-radius:15px;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

}

.time-box span{

    font-size:30px;

    font-weight:bold;

}

.time-box small{

    font-size:14px;

}


/*=========================================
            زر الخريطة
=========================================*/

.map-btn{

    display:inline-block;

    margin-top:35px;

    padding:15px 30px;

    background:#7b2034;

    color:white;

    text-decoration:none;

    border-radius:35px;

    font-size:18px;

    transition:.3s;

}

.map-btn:hover{

    transform:scale(1.05);

}


/*=========================================
            الهواتف الصغيرة
=========================================*/

@media (max-width:430px){

    .title{

        font-size:40px;

    }

    .ayah{

        font-size:17px;

    }

    .details-header h1{

        font-size:34px;

    }

    .invite-text{

        font-size:20px;

    }

    .flower-top-left{

        width:220px;

        left:-60px;

    }

    .flower-bottom-right{

        width:300px;

        right:-120px;

    }

    .time-box{

        width:65px;

        height:75px;

    }

    .time-box span{

        font-size:24px;

    }

}